/* ============ General Styles ============= */
body {
    font-family: helvetica, arial, sans;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ========= Header Styles ========== */

/* ----- Header Placement ----- */
.header {
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header .nav > li {
    display: inline-block;
    padding: 0 7px;
}
.header .nav.nav-right {
    float: right;
    margin: 1.1em 1.45em;
}
.header .nav.nav-left {
    float: left;
    margin: 1.8em 1.4em;
}
.nav {
    list-style: none;
    /* margin: 1.8em 1.5em */
}
/* --- Header Design ----- */

.home-header {
    font-size: 13px;
}
.nav-links {
    color: rgb(53, 53, 53);
    text-decoration: none;
} 
.nav-links:hover,
.nav-links:active {
    text-decoration: underline;
}
.nav-links > img {
    height: 18px;
}
.nav-links .nav-button {
    background-color: rgb(73, 135, 236);
    border-radius: 2px;
    border: 1px solid rgb(73, 135, 236);
    box-sizing: border-box;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 5.2px 11.8px;
    text-decoration: none;
    height: 30px;
}
.nav-links .nav-button:active {
    background-color: rgb(52, 102, 182);
    color: rgb(204, 204, 204);
}

/* ------ Dropdown Styles -------- */

.dropdown {
    position: relative;
}
.dropdown:hover .drop-menu {
    display: block;
    margin-top: 10px;
}
.drop-trigger {
    display: inline-block;
    position: relative;
}
.drop-menu {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(228, 228, 228);
    display: none;
    height: 596px;
    min-height: 196px;
    max-height: 647px;
    padding: 1em 0 0;
    position: absolute;
    right: 0;
    width: 320px;
    z-index: 9;
}
.drop-menu:before {
    border: 0.6em solid;
    border-color: transparent transparent #fff;
    content: "";
    height: 0;
    position: absolute;
    right: 10px;
    top: -15px;
}

/* ----- Dropdown Grid ----- */

.drop-wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 18px;
    grid-row-gap: 23px;
    padding: 30px;
}

.drop-wrapper > li {
    background-color: #fff;
    /* border: none; */
    color: #fff;
    height: 90px;
}
.drop-wrapper > li:hover {
    border: 1px solid #ddd;
    border-radius: 3px;
    /* transition: all 0.2s ease-in; */
}
.dropdown-items {
    box-sizing: border-box;
    height: 80px;
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}
.dropdown-items > p {
    font-family: helvetica, arial, sans;
    color: rgb(53, 53, 53);
    bottom: 0;
}
.dropdown-items > img {
    margin-bottom: 10px;
    width: 68%;
}

/* ============ Footer Styles ============ */

.footer {
    background: rgb(245, 245, 245);
    background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(239, 239, 239, 1) 100%);
    border-top: 1px solid rgb(228, 228, 228);
    font-size: 13px;
    height: 5.4vh;
    text-align: center;
}
.footer .nav {
    margin: 1em 1.4em;
}
.footer .nav > li {
    display: inline-block;
    padding: 0 11.7px;
}
.footer .nav.nav-left {
    float: left;
}
.footer .nav.nav-right {
    float: right;
}
.footer .nav-links {
    color: rgb(100, 100, 100);
}
/* ======== Content Styles =========== */


/* ----- Search Bar ------ */

.content-search-form {
    padding: 10px 5px;
}
.content-search-form .search-bar {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-sizing: border-box;
    height: 47px;
    margin: auto;
    padding: 10px 10px;
    width: 582px;
}
.content-search-form .search-bar:hover {
   box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
   border-color: rgba(223, 225, 229, 1);
}
.content-wrapper {
    margin: 7.5rem auto;
    max-width: 980px;
    width: 90vw;
}
.main-wrapper {
    flex: 1 1 auto;
    padding-top: 10vh;
    width: 100%;
}
.search-bar > #search-bar {
    border: none;
    width: 98%;
    text-overflow: clip;
    font-size: 1.1rem;
    margin-left: 10px;
}
.search-bar>#search-bar:focus {
    outline: none;
}   

/* ----- Google Logo ----- */

.content-image {
    text-align: center;
    margin-bottom: 2vh;
}
.content-image > img {
    height: 93px;
    display: inline-block;
}

/* ------ Buttons ------ */

.button-wrapper {
    box-sizing: border-box;
    margin: 4vh auto;
    text-align: center;
    width: 50%;
}
.button-wrapper > .goog-button:first-child {
    margin-right: 5px;
}
.goog-button {
    background: rgb(245, 245, 245);
    background: linear-gradient(180deg, rgba(245, 245, 245, 1) 0%, rgba(242, 242, 242, 1) 100%);
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 5px;
    color: rgb(100, 100, 100);
    font-size: 0.86em;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.6em 1.1em;
    height: 35.5px;
}
.goog-button:hover,
.goog-button:active {
    border: 1px solid rgb(198, 198, 198);
    box-shadow: 0px 1px rgba(233, 233, 233, 1);
    color: #000;
    cursor: pointer;
}

